[[{{anchor}}]]
=== {{title}}
[cols="3,5"]
|===
|Wert|Beschreibung

{{#fields}}
|{{#tableCellContent}}`{{value}}`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/fields}}
|===