[cols="a,a,a"]
|===
|Request-Part|Beschreibung|Content-Type

{{#requestParts}}
|{{#tableCellContent}}`{{name}}`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{content-type}}{{/tableCellContent}}
{{/requestParts}}
|===