|{{#tableCellContent}}`{{errorCode}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{httpStatusCode}}`{{/tableCellContent}}
|{{#tableCellContent}}{{errorMessage}}{{/tableCellContent}}
|{{#tableCellContent}}{{reason}}{{/tableCellContent}}
